{% load static %}

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login & Registration Form</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>


    <body>
        <div class="container">
            <input type="checkbox" id="check">
            <div class="login form">
              <header>Login</header>

        <form action="{% url 'cadastro' %}" method="POST">{% csrf_token %}

            <input type= "text" placeholder="Username..." name="username">
            <br>
            <br>
            <input type= "email" placeholder="Email..." name="email">
            <br>
            <br>
            <input type="password" placeholder="Senha..." name="senha">
            <br>
            <br>
            <input type="submit" value="cadastrar" >
            <br>
        </form>

    <body>

</html>